@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

body {
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
}

.clearfix {
    float: none;
    clear: both;
}

#header {
    width: 100%;
    box-sizing: border-box;
    height: 110px;
    min-height: 10%;
}

#header img {
    height: 100%;
    display: inline-block;
}

#header #escudos {
    display: inline-block;
    width: 30%;
    height: 100%;
}

#header #logo_ipn {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#header #logo_escom {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#header #tituloHeader {
    display: inline-block;
    text-align: right;
    width: 60%;
    margin-right: 70px;
}

#header #tituloHeader h1 {
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}

#header #tituloHeader h2 {
    font-family: 'News Cycle', sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin-top: 5px;
}

#contenido {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 1260px;
    transform: translateX(-80px);
}

#contenido.noTabs {
    transform: translateX(-250px);
}

#leyenda {
    position: absolute;
    display: none;
    top: 900px;
    left: 60px;
    width: 20%;
    font-family: 'News Cycle', sans-serif;
    text-align: justify;
}

#leyenda.noTabs {
    position: absolute;
    display: none;
    top: 150px;
    left: 50px;
    width: 13%;
    font-family: 'News Cycle', sans-serif;
    text-align: justify;
}

#secciones {
    height: 100px;
    width: 70%;
    float: right;
    margin-top: 50px;
}

#secciones ul {
    list-style: none;
    display: inline-flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    height: 80%;
    width: 90%;
}

#secciones li {
    color: black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: #9DE9E7;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#secciones a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#secciones img {
    width: 60px;
}

#secciones .actual img {
    width: 120px;
}

#secciones .actual {
    transform: translateY(-20px);
    font-size: 27px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 80px;
}

#temas {
    float: left;
    width: 30%;
}

#temas img {
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#temas .seleccionado img {
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

#temas ul {
    float: right;
    list-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 22px;
    width: 70%;
    padding-top: 50px;
}

#temas li {
    color: black;
    background: #FBD9E4;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#temas .blue li {
    background: #A7B6E8;
}

#temas a {
    text-decoration: none;
}

#temas a .subtema {
    padding-left: 25px;
}

#temas .seleccionado li {
    transform: translateX(-50px);
    font-size: 27px;
    width: 115%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#temas .seleccionado .subtema {
    transform: translateX(-50px);
    font-size: 27px;
    width: 105%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

#texto {
    float: right;
    width: 70%;
    height: 1200px;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 60px;
    font-family: 'News Cycle', sans-serif;
    color: #3B3838;
    text-align: justify;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(max-width: 1200px) {
    #header #escudos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 100%;
    }
    #header #logo_escom {
        float: right;
    }
    #header #tituloHeader {
        display: block;
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #contenido {
        position: relative;
        display: block;
        transform: translateX(0px);
    }
    #secciones {
        display: none;
    }
    #temas {
        display: none;
    }
    #texto {
        display: block;
        position: relative;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 190px;
        width: 90%;
    }
}

#informacion {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 1070px;
    box-sizing: border-box;
    overflow-y: scroll
}

#actividad {
    display: block;
    font-family: 'News Cycle', sans-serif;
    color: #3B3838;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow-y: scroll;
    background: #9DE9E7;
}

#informacion #actividad {
    display: block;
    font-family: 'News Cycle', sans-serif;
    color: #3B3838;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 1100px;
    overflow-y: unset;
    background: #FBFBFB;
}

#informacion #actividad .pregunta {
    display: flex;
    width: 90%;
    min-height: fit-content;
    background: #FBFBFB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #C4F2F1;
}

#actividad .pregunta {
    display: flex;
    width: 90%;
    min-height: fit-content;
    background: #FBFBFB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FBFBFB;
}

#actividad .noPregunta {
    display: block;
    width: 90%;
    min-height: fit-content;
    background: #FBFBFB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#actividad .pregunta .cuerpo {
    width: 90%;
    display: block;
    min-height: fit-content;
    float: left;
}

#actividad .pregunta .calificar {
    width: 10%;
    display: block;
    position: relative;
    min-height: fit-content;
    float: right;
}

#actividad .pregunta .calificarIndividual{ 
    float: right;
    height: 100px;
    margin-right: 30px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

#actividad .calificarTodo {
    display: table;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#actividad .calificarTodo .calificar {
    display: table-cell;
    float: left;
    vertical-align: middle;
}

#actividad .calificarTodo .calificar p {
    font-size: 35px;
}

#actividad .calificarTodo .botonCalificar {
    display: table-cell;
    vertical-align: middle;
    float: right;
}

#actividad::-webkit-scrollbar-track {
    background: #9DE9E7;
}

#actividad::-webkit-scrollbar {
    background: #9DE9E7;
}

#informacion #actividad::-webkit-scrollbar-track {
    background: #FBFBFB;
}

#informacion #actividad::-webkit-scrollbar {
    background: #FBFBFB;
}

#informacion::-webkit-scrollbar-track {
    background-color: #FBFBFB;
}

#informacion::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#informacion::-webkit-scrollbar-thumb, #actividad::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#informacion h1, #actividad h1 {
    display: block;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    /*background-color: #FDE7EE;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#informacion #divBuscador {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#informacion input#buscador {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 25px;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
}

#actividad input[type=number] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
    text-align: right;
    width: 100px;
}

#actividad input[type=button] {
    font-family: inherit;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-color: #A7B6E8;
}

#actividad input[type=button].botonSeleccionado {
    background: #A7B6E8;
}

#actividad .centrarOpciones {
    display: block;
    width: fit-content;
}

#actividad .containerCheckbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: fit-content;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 65px;
    padding-right: 30px;
    line-height: 1.5;
}

#actividad .containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#actividad .checkmark {
    position: absolute;
    top: 5px;
    left: 35px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: transparent;
    border: 2px solid #A7B6E8;
}

#actividad .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#actividad .containerCheckbox input:checked ~ .checkmark {
    background-color: #A7B6E8;
}

/*
#actividad .containerCheckbox {
    display: table;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: fit-content;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 65px;
    padding-right: 30px;
    line-height: 1.5;
}

#actividad .containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#actividad .checkmark {
    display: table-cell;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: transparent;
    border: 2px solid #A7B6E8;
}

#actividad .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#actividad .containerCheckbox input:checked ~ .checkmark {
    background-color: #A7B6E8;
}
*/




#informacion .solito {
    margin-top: 150px;
    font-size: 100px;
}

#informacion h2, #actividad h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#informacion h3, #actividad h3{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#informacion p, #actividad p {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
}

#informacion ul, #actividad ul {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
}

#informacion .listaPuntos li {
    list-style: circle;
}

#informacion ul li, #actividad ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

#informacion ol, #actividad ol {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
}

#informacion ol li, #actividad ol li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: lower-alpha;
}

#informacion .lista li, #actividad .lista li {
    
    margin-left: 50px;
    list-style: circle;
}

#informacion .centrado, #actividad .centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.izquierda {
    display: block;
    float: left;
    width: 50%;
    padding-top: 20px;
}

.botonArchivos {
    display: block;
    margin-left: auto;
    float: right;
}

.botonActividadIntegradora {
    width: 100%;
}

.botonArchivos:hover, .botonActividadFinal:hover {
    cursor: pointer;
}

#botonActividad {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#botonActividad:hover {
    cursor: pointer;
}

#botonActividad img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#informacion .ecuacion, #actividad .ecuacion {
    padding-top: 20px;
    padding-bottom: 20px;
}

#informacion .definicionVariables, #actividad .definicionVariables {
    padding-left: 35px;
}

#informacion .definicionVariables ul, #actividad .definicionVariables ul {
    padding-left: 45px;
}

#informacion img, #actividad img {
    margin-top: 20px;
    margin-bottom: 20px;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

#informacion figure, #actividad figure {
    margin-top: 10px;
    margin-bottom: 10px;
}

#informacion figure img, #actividad figure img {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

#informacion figcaption, #actividad figcaption, caption {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#informacion .tabla, #actividad .tabla {
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

#informacion .contactos img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#informacion .tabla th, #actividad th {
    font-size: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#informacion .tabla td, #actividad .tabla td {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#informacion .tabla .conceptoTabla, #actividad .tabla .conceptoTabla {
    text-align: center;
}

#informacion .tabla .listaTabla li, #actividad .tabla .listaTabla li {
    list-style: circle;
}

#informacion .tabla .textoCentrado, #actividad .tabla .textoCentrado {
    text-align: center;
}

#informacion .tabla .resta, #actividad .tabla .resta {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#infoRecurso {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 90hv;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 25px;
}

#footer {
    display: block;
    background: white;
    border: 2px solid black;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
}